.brokenline{
    width: 100%;
}

.line{
    background-image: url(../../assets/brokenline.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
    height: 100px;
    object-fit: contain;
}