.faqs{
    width: 100%;
    height: 460px;
    padding: 30px 60px;
    overflow-y: hidden;
}

.faqsheader h2{
    font-size: 30px;
    color: white;
    padding-bottom: 15px;
}

.faqsheader p{
    color: rgb(250, 250, 250, 0.9);
    letter-spacing: .5px;
    font-size: 16px;
    max-width: 560px;
    font-weight: 300;
    padding-bottom: 20px;
}

.faqQuestions{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding-top: 30px;
    flex-wrap: wrap;
}

.q1{
    padding: 20px 0px;
}

.quest{
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 15px;
}

.ans{
    color: rgb(250, 250, 250, 0.9);
    font-size: 12.7px;
    font-weight: 200;
}

@media screen and (max-width: 900px) {
    .faqs{
        height: fit-content;
    }

    .faqQuestions {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .faqs{
        height: fit-content;
        padding: 40px 30px;
    }
    
}
